{{>layout/header}}

<div class="container d-flex pt-5">
    <h3 class="mb-0 flex-grow-1">Deep dive into my posts</h3>
    <a href="/blog/posts/save" role="button" class="btn btn-outline-dark">write</a>
</div>

<hr>

{{>blog/all-posts}}

{{>layout/fnb}}
{{>layout/footer}}
