{{>layout/header}}

    <div class="header container-fluid py-5 mt-3">
        <h1 class="title-main">안녕하세요.</h1>
        <h1 class="title-main"><span class="color-main">김혜성</span>입니다.</h1>
    </div>
    <div class="introduction container-fluid py-3">
        <h4 class="header-main">성장을 향해 나아가는</h4>
        <h4 class="header-main"><span class="color-sub">백엔드 개발자</span>입니다.</h4>
        <p class="text-detail">상세설명</p>
    </div>
    <hr>
    <div class="education container-fluid py-5">
        <h5 class="content-title ">학력</h5>
        <h4 class="content-detail py-1"><span class="text-bold">중앙대학교 소프트웨어학부</span>(Computer Science and Engineering)
            재학</h4>
        <p class="gpa color-content"><span class="text-bold">GPA</span> 4.19/4.5 <span class="badge text-bg-secondary">96.46%</span>
        </p>
        <p class="gpa-span text-span ms-1"><span class="text-italic">2018.03 ~ 2023.02</span> <span
                class="badge text-bg-danger">졸업예정</span></p>
        <ul class="py-3">
            <li class="color-content py-1"><span class="color-content text-bold">2020-2</span> 중앙대학교 소프트웨어학부 <span
                    class="text-bold">학년우수</span> 장학금
            </li>
            <li class="color-content py-1"><span class="color-content text-bold">2020-2</span> 비쥬얼프로그래밍(Python) <span
                    class="text-bold">조교</span></li>
        </ul>
        <h5 class="content-title py-2">교육 이수</h5>
        <h4 class="detail-title content-detail py-1"><span class="text-bold">구글 개발자 머신러닝 부트캠프</span> 수료</h4>
        <p class="text-span ms-1 py-1"><span class="text-italic">2020.10 ~ 2021.01</span> <span
                class="badge text-bg-info">ML</span></p>
        <ul class="py-3">
            <li class="color-content py-1">Tensorflow Developer Certificate</li>
        </ul>
    </div>
    <div class="career container-fluid">
        <h5 class="content-title py-1">경력</h5>
        <h4 class="detail-title content-detail py-1"><span class="text-bold">닉스 주식회사</span></h4>
        <p class="text-span ms-1 py-1"><span class="text-italic">2020.12 ~ 2022.02</span> <span
                class="badge text-bg-info">ML</span></p>
        <p class="color-content py-1">Research Engineer 인턴</p>
        <ul>
            <li class="color-content py-1">수면 소리 및 패턴 분류 모델 연구・개발 <span class="badge text-bg-light">Python</span> <span
                    class="badge text-bg-light">Tensorflow</span></li>
            <ul>
                <li class="color-content py-1">삼성서울병원 수면다원검사 시 수면 소리 <span class="text-italic text-bold color-sub">데이터 수집을 위한 실험 설계</span>
                </li>
                <li class="color-content py-1">수집한 데이터(한 데이터당 약 7시간의 wav)를 <span
                        class="text-italic text-bold color-sub">수면 단계/event를 기준으로 정제</span></li>
                <li class="color-content py-1">정제한 소리 데이터셋을 이용하여 <span class="text-italic text-bold color-sub">수면 단계 분류 모델 개발</span>
                </li>
                <li class="color-content py-1">Android 이식을 위해 <span class="text-italic text-bold color-sub">Tensorflow Lite</span>
                    모델로 변환
                </li>
            </ul>
        </ul>
        <div class="cvml py-2">
            <h4 class="detail-title content-detail py-1"><span class="text-bold">중앙대학교 Computer Vision Machine Learning Lab.</span>
            </h4>
            <p class="text-span ms-1 py-1"><span class="text-italic">2019.07 ~ now</span> <span
                    class="badge text-bg-info">ML</span></p>
            <p class="color-content py-1">학부연구생 (지도교수: 권준석 교수님)</p>
            <ul>
                <li class="color-content py-1"><span class="text-italic text-bold color-sub">spherical pendulum dataloader</span>
                    개발 <span class="badge text-bg-light">Python</span> <span
                            class="badge text-bg-light">PyTorch</span><a
                            href="https://openreview.net/pdf?id=SF8lkH-J6e9" class="color-content"><span
                            class="badge text-bg-dark">ICLR 2022 Workshop</span></a></li>
                <ul>
                    <li class="color-content py-1"><span
                            class="text-italic text-bold color-sub">spherical pendulum</span> 구현
                    </li>
                    <li class="color-content py-1"><span class="text-italic text-bold color-sub">density spherical pendulum</span>
                        구현
                    </li>
                    <li class="color-content py-1"><span class="text-italic text-bold color-sub">dataloader</span> 개발
                    </li>
                </ul>
                <li class="color-content py-1"><span class="text-italic text-bold color-sub">Network Pruning</span> 공부 및
                    실험 <span class="badge text-bg-light">Python</span> <span
                            class="badge text-bg-light">Tensorflow</span><a
                            href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9506724"
                            class="color-content"><span class="badge text-bg-dark">ICIP 2021</span></a></li>
            </ul>
        </div>
        <div class="mil py-2">
            <h4 class="detail-title content-detail py-1"><span class="text-bold">중앙대학교 Machine Intelligence Lab.</span>
            </h4>
            <p class="text-span ms-1 py-1"><span class="text-italic">2018.09 ~ 2019.06</span> <span
                    class="badge text-bg-info">ML</span></p>
            <p class="color-content py-1">학부연구생 (지도교수: 이재성 교수님)</p>
        </div>
    </div>
    <div class="project container-fluid py-5">
        <h5 class="content-title py-1">프로젝트 경험</h5>
        <h4 class="detail-title content-detail py-1"><span class="text-bold">중앙대학교 오케스트라 동아리 RUBATO</span> 웹페이지 개발</h4>
        <p class="text-span ms-1 py-1"><span class="text-italic">2020.07 ~ now</span> <span
                class="badge text-bg-warning">WEB</span> <a href="https://github.com/cau-rubato/rubato-backend"
                                                            class="color-content"><span class="badge text-bg-dark">GitHub</span></a>
            <a href="https://www.rubatophil.org" class="color-content"><span class="badge text-bg-dark">www.rubatophil.org</span></a>
        </p>
        <p class="color-content py-1">백엔드 개발 <span class="badge text-bg-light">Spring(Java)</span></p>
        <ul>
            <li class="color-content py-1"><span class="text-italic text-bold color-sub">domain 개발</span> 및 <span
                    class="text-italic text-bold color-sub">test code</span> 작성
            </li>
            <li class="color-content py-1">member 정보를 제공하는 <span class="text-italic text-bold color-sub">API 개발</span> 및
                <span class="text-italic text-bold color-sub">test code</span> 작성
            </li>
        </ul>
        <h4 class="detail-title content-detail py-1"><span class="text-bold">MMMaker</span> meme 영상 제작 프로그램</h4>
        <p class="text-span ms-1 py-1"><span class="text-italic">2020.03 ~ 2020.06</span> <span
                class="badge text-bg-warning">WEB</span> <a href="https://github.com/C4Ution/MMMaker"
                                                            class="color-content"><span class="badge text-bg-dark">GitHub</span></a>
        </p>
        <p class="color-content py-1">하이라이트 추출 모듈 개발 <span class="badge text-bg-light">Python</span></p>
        <ul>
            <li class="color-content py-1">파일 경로에 해당하는 <span
                    class="text-italic text-bold color-sub">영상의 소리 데이터 추출</span></li>
            <li class="color-content py-1">소리 데이터의 <span class="text-italic text-bold color-sub">최대/최소 진동수 구간 추출</span>
            </li>
            <li class="color-content py-1">해당 구간의 영상 추출</li>
        </ul>
    </div>
    <div class="contest container-fluid">
        <h5 class="content-title py-1">대회 참여 및 수상 이력</h5>
        <h4 class="detail-title content-detail py-1"><span class="text-bold">삼성카드</span> 제1회 삼성카드 데이터 분석 & 아이디어 공모전</h4>
        <p class="text-span ms-1 py-1"><span class="text-italic">2020.08 ~ 2020.12</span> <span
                class="badge text-bg-info">ML</span> <span class="badge text-bg-danger">예선합격</span> <span
                class="badge text-bg-secondary">3인 1팀</span></p>
        <p class="color-content py-1">Track1. 온라인 가맹점 방문 고객 예측 알고리즘 개발 <span class="badge text-bg-light">Python</span>
            <span class="badge text-bg-light">Scikit-Learn</span></p>
        <ul>
            <li class="color-content py-1"><span class="text-italic text-bold color-sub">int column EDA, 데이터 upsampling, 하이퍼파라미터 튜닝</span>
            </li>
        </ul>
        <h4 class="detail-title content-detail py-1"><span class="text-bold">중앙대학교</span> 오픈소스 SW/AI 딥러닝 해커톤</h4>
        <p class="text-span ms-1 py-1"><span class="text-italic">2020.09</span> <span
                class="badge text-bg-info">ML</span> <span class="badge text-bg-danger">최우수상</span> <span
                class="badge text-bg-secondary">1인 1팀</span></p>
        <p class="color-content py-1">emnist-balanced dataset 뉴럴네트워크 모델 설계 <span
                class="badge text-bg-light">Python</span> <span class="badge text-bg-light">Tensorflow</span></p>
        <ul>
            <li class="color-content py-1">State-of-the-Art 모델인 SpinalNet을 참고하여 더욱 가볍게 설계</li>
        </ul>
    </div>

{{>layout/fnb}}
{{>layout/footer}}