{{>layout/header}}

    <div class="header container-fluid py-5 mt-3">
        <h1 class="title-main">Hello,</h1>
        <h1 class="title-main">I'm <span class="color-main">Ally Hyeseong Kim</span>.</h1>
    </div>
    <div class="introduction container-fluid py-3">
        <h4 class="header-main">I'm a junior <span class="color-sub">Backend Engineer</span>,</h4>
        <h4 class="header-main">driven by a passion for a continuous growth.</h4>
        <h6 class="text-detail mt-4 mb-1">MAIN SKILLS: <span class="badge rounded-pill bg-danger">Java</span> <span class="badge rounded-pill bg-success">Spring MVC</span> <span class="badge rounded-pill bg-success">Spring Webflux</span> <span class="badge rounded-pill bg-secondary">NCP</span> <span class="badge rounded-pill bg-secondary">Jenkins</span> <span class="badge rounded-pill bg-secondary">Kubernetes</span> <span class="badge rounded-pill bg-info">MySQL</span> <span class="badge rounded-pill bg-info">Redis</span></h6>
        <p class="text-detail">SUB SKILLS: <span class="badge rounded-pill bg-secondary">AWS</span> <span class="badge rounded-pill bg-danger">Python</span> <span class="badge rounded-pill bg-warning">Mustache</span> <span class="badge rounded-pill bg-danger">Node.js</span></p>

    </div>
    <hr>
    <div class="education container-fluid py-5">
        <h5 class="content-title py-3">EDUCATION</h5>
        <div class="py-3">
            <h4 class="detail-title content-detail py-1"><span class="text-bold">B.S. of Computer Science and Engineering</span>, Chung-Ang University</h4>
            <p class="text-span ms-1 py-1">Seoul, Korea<span class="ms-2 text-italic">2018.03 ~ 2023.02</span></p>
            <p class="color-content mb-0 py-1"><span class="text-bold">GPA</span> 4.17/4.5 <span class="badge text-bg-secondary">96.7%</span> <span class="badge text-bg-danger">Magna Cum Laude</span>
            </p>
            <ul class="pt-3">
                <li class="color-content py-1">Scholarships: Merit-based Scholarship for academic excellence (<span class="color-content text-bold">Fall 2020</span>)</li>
                <li class="color-content py-1">Teaching Assistant: Visual Programming (Python) (<span class="color-content text-bold">Fall 2020</span>)</li>
                <li class="color-content py-1">Teaching Assistant: Calculus (<span class="color-content text-bold">Spring 2018</span>)</li>
            </ul>
        </div>

    </div>
    <div class="career container-fluid">
        <h5 class="content-title py-3">WORK EXPERIENCE</h5>
        <div class="py-3">
            <h4 class="detail-title content-detail py-1"><span class="text-bold">NAVER Corp.</span></h4>
            <p class="text-span ms-1 py-1"><span class="text-italic">2023.07 ~ </span></p>
            <p class="color-content py-1">Software Engineer, Backend <span class="badge text-bg-light">Full-time</span></p>
            <ul>
                <li class="color-content py-1">Article service of <span class="text-bold">Naver News</span>
                    <span class="badge rounded-pill bg-danger">Java</span> <span class="badge rounded-pill bg-success">Spring MVC</span> <span class="badge rounded-pill bg-success">Spring Webflux</span> <span class="badge rounded-pill bg-secondary">NCP</span> <span class="badge rounded-pill bg-secondary">Jenkins</span> <span class="badge rounded-pill bg-secondary">Kubernetes</span> <span class="badge rounded-pill bg-info">Redis</span> <span class="badge rounded-pill bg-warning">Mustache</span> <span class="badge rounded-pill bg-danger">Node.js</span></li>
            </ul>
        </div>
        <div class="py-3">
            <h4 class="detail-title content-detail py-1"><span class="text-bold">NYX Inc.</span></h4>
            <p class="text-span ms-1 py-1"><span class="text-italic">2020.12 ~ 2022.02</span></p>
            <p class="color-content py-1">Research Engineer, Artificial Intelligence <span class="badge text-bg-light">Intern</span></p>
            <ul>
                <li class="color-content py-1">Sleep Sound and Sleep Stage Classification with <span class="text-bold">Sleep Center, Samsung Medical Center </span>
                    <span class="badge rounded-pill text-bg-danger">Python</span> <span class="badge rounded-pill text-bg-danger">Tensorflow</span></li>
                <ul>
                    <li class="color-content py-1">Design and construction of training data through Polysomnography (PSG)</li>
                    <li class="color-content py-1">Develop Sleep Sound and Sleep Stage Classification Model</li>
                </ul>
            </ul>
        </div>
        <div class="py-3">
            <h4 class="detail-title content-detail py-1"><span class="text-bold">Computer Vision Machine Learning Lab.</span> Chung-Ang University</h4>
            <p class="text-span ms-1 py-1"><span class="text-italic">2019.07 ~ 2023.02</span></p>
            <p class="color-content py-1">Undergraduate Researcher (prof. Junseok Kwon) <span class="badge text-bg-light">Intern</span></p>
            <ul>
                <li class="color-content py-1"><a href="https://openreview.net/pdf?id=SF8lkH-J6e9">Sung Woo Park, Hyomin Kim, Hyeseong Kim, Junseok Kwon, Riemannian Neural SDE: Learning Stochastic Representations on Manifolds, ICLR 2022 Workshop on Geometrical and Topological Representation Learning, 2022.</a>
                     <span class="badge rounded-pill text-bg-danger">Python</span> <span class="badge rounded-pill text-bg-danger">PyTorch</span></li>
                <ul>
                    <li class="color-content py-1">Develop spherical pendulum dataloader</li>
                </ul>
            </ul>
            <ul>
                <li class="color-content py-1"><a href="https://ieeexplore.ieee.org/document/9506724/;jsessionid=UiHmczA-E9_YR9yrf0D6ZcTyli8xNilcVi9ppaUwhAPzd1fuid_A!1379055256">Sungmin Cho, Hyeseong Kim, Junseok Kwon, Filter Pruning Via Softmax Attention, 2021 IEEE International Conference on Image Processing (ICIP), 2021.</a>
                     <span class="badge rounded-pill text-bg-danger">Python</span> <span class="badge rounded-pill text-bg-danger">Tensorflow</span></li>
                <ul>
                    <li class="color-content py-1">Related Work of Network Pruning</li>
                </ul>
            </ul>
        </div>
    </div>

{{>layout/fnb}}
{{>layout/footer}}